	<div id="wrapper">
			<div id="outer1"> <!-- The very left, where time left is contained-->
				<div class="content">
					<h3>Time left for the deal</h3>
					<p><%= @product.hours%> hours and <%= @product.minutes %> minutes</p>
										</div> <!-- end content -->
			</div>

			<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content">
					<h3>Today's Deal: <%= @product.name %>,</h3>
					<%= image_tag("todaydeal.jpg") %>
					<br/>
					<br/>
					<br/>
					<h2>Description</h2>
					<p><%= @product.description %></p>
					<br/>
					<br/>
					<br/>
					Today's special price is: <%= @money %> plus shipping and handling.<br/> <br/>
					<form method="post" action="purchase.html">

					</form>
				</div>
			</div>

			<div id="outer5">
				<div class="content">
					<h3>How many do we have left?</h3>
					<p>We currently have <%=  @product.amount %> left.. Buy now before we run out!</p>
					<p></p>
					
					<h3>Buy now! </h3>
					<%= button_to 'Buy Now!', 'buy', :method => :get %>
					
				</div> <!-- end content -->
			</div> <!-- end outer3 -->

			

		</div><!-- end of website-->
