<!DOCTYPE  html>
<html>
	<head>

		
		<title><%= @title %></title>
		<%= stylesheet_link_tag 'mystyle.css' if @title == "Home"%> 
		<%= stylesheet_link_tag 'mystyle2.css' if @title != "Home"%> 
		
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="minMax">
		<div id="header"> <!-- header begin -->
			<div class="content"> <!-- Content which is the inside text, formatted so it looks better -->
				<h1><%= @title %></h1>
			</div> <!-- End of content -->
		</div> <!-- end header -->
		<%= render 'layouts/navigation' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	
	</body>	
</html>
